.match-grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 500px;
}

.match-card {
  border: 1px solid #ddd;
  border-radius: 12px;

  padding: 1rem;

  background: white;

  box-shadow:
    0 2px 6px rgba(0,0,0,.08);
}

.match-header {
  font-weight: 600;
  margin-bottom: .75rem;
}

.match-row {
  display: grid;
  grid-template-columns:
    1fr   /* Team A */
    30px  /* Score A */
    20px  /* Dash */
    30px  /* Score B */
    1fr;  /* Team B */

  align-items: center;
}

.teamA {
  text-align: right;
  padding-right: 1rem;
}

.teamB {
  text-align: left;
  padding-left: 1rem;
}

.score {
  text-align: center;
  font-weight: 600;
}

.dash {
  text-align: center;
}

.match-date {
  margin-top: .75rem;
  font-size: .85rem;
  color: gray;
}