<c-carousel [interval]="5000" style="height: 45vh;">
  <c-carousel-indicators *ngIf="slides.length > 1"></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img
        [src]="slide.src"
        class="d-block w-100 slide"
        [style.objectFit]="'contain'"
        style="height: 45vh;"
        loading="lazy"/>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev" *ngIf="slides.length > 1"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next" *ngIf="slides.length > 1"></c-carousel-control>
</c-carousel>