.main{
    background-color: #1c0223ec;
    border-radius: 100px 100px 0 0;
    border: 3px solid #19647E;
    padding: 50px;
    color: white;
    z-index: 30;
    animation: fadein 1.5s ease-in-out forwards;
    display: flex;
    flex-direction: column;
}
.close-btn {
    position: absolute;
    border-radius: 5px;
    top: 50px;
    right: 50px;
    transition: scale 0.2s ease-in-out;
}
.close-btn:hover {
    scale: 1.15;
}
.close-btn:active {
    scale: 0.9;
}
.fadeout {
    animation: fadeout 0.8s ease-in-out forwards;
}
@keyframes fadein{
    0% {
        transform: translate(0,120vh);
        scale: 0 1;
    }
    60% {
        transform: translate(0,0);
        scale: 0.6 1;
    }
    100% {
        transform: translate(0,0);
        scale: 1 1;
    }
}
@keyframes fadeout{
    0% {
        opacity: 1;
        scale: 1 1;
        transform: translate(0,0);
    }
    40% {
        scale: 0.6 1;
        transform: translate(0,0);
    }
    100% {
        transform: translate(0,120vh);
        scale: 0 1;
    }
}
.container {
    display: flex;
}
.left-side {
    flex: 1;
}
.right-side {
    flex: 1;
}

.skill-container {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping to a new row when the width is exceeded */
    gap: 10px; /* Optional: Adjust spacing between items */
}

.skill {
    display: flex; /* Makes the div a flex container */
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    padding: 10px;
    border: 1px solid #cccccc7a;
    border-radius: 16px;
    text-align: center;
    background-color: #f9f9f923;
    height: auto; /* Set a fixed height or allow it to adjust dynamically */
    place-items: center;
    margin: 0;
    min-width: 4vw;
    transform: translate(0px, 0px);
    transition: all 0.2s ease-in-out;
    color: #ffffff;
}
.skill:hover {
    translate: 0px -6px;
    transform: scale(1.15);
    color: #FFD046;
}
h3, h1 {
    color: #ffffffd1;
}
a {
    text-decoration: none;
}
small { 
    color: #19647E;
}
p {
    color: #FFD046;
}
.link {
    padding-left: 15px;
    max-width: 60vw;
    display: flex;
    background-color: #004cff20;
    border: 3px solid #004cff25;
    border-radius: 16px;
    gap: 10px;
    align-items: center;
    text-align: center;
    place-items: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: white;
    width: 30vw;
    min-width: 180px;
    font-size: 1.6vw;
}
.link:hover{
    transform: scale(1.1);
    background-color: #004cff30;
    border: 3px solid #004cff40;
    color: #FFD046;
}
.link:active{
    transform: scale(0.9);
    background-color: #004cff40;
    border: 3px solid #004cff50;
    color: white;
}
.link img {
    padding: 7px;
}

h3 {
    padding-top: 50px;
}
.projectlink {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea526e40;
    border: 3px solid #EA526F50;
    border-radius: 16px;
    color: white;
    gap: 40px;
    max-width: 60vw;
    font-size: 2.5vw;
    transition: all 0.3s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 210px;
}
.projectlink:hover{
    transform: scale(1.1);
    background-color: #ea526e50;
    border: 3px solid #ea526e60;
    color: #FFD046;
}
.projectlink:active{
    transform: scale(0.9);
    background-color: #ea526e60;
    border: 3px solid #ea526e75;
    color: rgb(255, 255, 255);
}
.carousel-container {
    margin-left: 15vw;
    margin-top: 50px;

}
@media (max-width: 950px) {
    .container {
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
        text-align: center;
    }
    .link{
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .projectlink {
        margin-top: 30px;
    }

    .left-side, .right-side {
        width: 100%;
        text-align: center;
    }
    .left-side a {
        display: flex;
        justify-content: center;
    }

    .right-side {
        margin-top:20px;
    }
    .carousel-container {
        margin-left: 0px;
        margin-top: 0px;
    }
}
