<div class="container">
  <div class="icon-container">
    <a href="https://apps.apple.com/us/app/discover-posey-county/id1635389764" target="_blank"><img src="DiscoverPoCoIcon.png" /></a>
  </div>
  <app-contact-form class="form-container" formName="Discover Posey County"></app-contact-form>
</div>

<div class="description">
  <h5>
    During my senior year of high school, I chose to create an app in support of my community. People traveling through my hometown may believe that there is little there, but in contrast they can see all that Posey County has to offer in my app. The app has several locations around the area including restaurants, shops, parks, and historical markers. When a traveler gets close enough to a location, they can search the area in order to answer a question and learn more about the location. Additionally, there are a few hidden locations that are only visible once the user is in a certain range of them. In order to help the user, if they get on the app several days in a row, then they can unlock a hint which will guide them to one of the hidden locations.
  </h5>
</div>




