
.section4-Gallery{
    display:grid;
    justify-content: center;
    align-items: top;
    padding-left: 100px;
    
    margin-top: 1240px;
    margin-left: 0px;
    z-index: 0;
    position:absolute;
    background: rgb(201, 202, 207);
    width: 100%;
    height: 420px;
    grid-auto-flow:row;
    color: rgb(49, 49, 49);

}
.gallery{
    background-color: chartreuse;
}