:root {
    --background: #F9ECCC;
    --navigationBackground: #222E50;
    --title: #5B85AA;
    --lightText: #98473E;
    --darkText: #222E50;
    --backgroundSection: #306B34;
    --backgroundSection2: #8797AF;
    --burgundy: #7B0D1E;
    --purple: #5A246C;
    --coral: #FF7477;
}

/*Main stuff*/
h1 {
    text-align: center;
    color: var(--background);
    font-size: 3.4vw;
    height: fit-content;
}
h2 {
    text-align: center;
    color: var(--background);
    font-size: 1.8vw;
    height: fit-content;
}
p {
    font-size: 2vw;
    height: fit-content;
}
body {
    background: linear-gradient(60deg,var(--lightText),var(--background),var(--background), var(--darkText));
    animation: bgGradient 15s ease-in-out infinite;
    background-attachment: fixed;
    background-size: 150% 150%;
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    color: var(--darkText);
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
}
@keyframes bgGradient {
    0% {
        background-position: 00% 0%;
    }
    45% {
        background-position: 100% 0%;
    }
    55% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 00% 0%;
    }
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
/*Navigation Bar---------------------------------------------*/
.topnavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--navigationBackground);
    z-index: -100;
    animation: NavigationBarSlideDown 0.9s ease-out 0s 1;
}
/* Style the links inside the navigation bar */
.topnavigation h1 {
    flex: 0.5;
    color: var(--title);
    text-align: center;
    padding: 0vh 0vh;
    text-decoration: none;
    font-size: 2vw;
    animation: RPAnim 4s ease-in-out 0s infinite;
}
@keyframes RPAnim {
    100%,0%{
        color: var(--title);
    }
    50%{
        color: var(--background);
    }
}
.topnavigation a {
    flex: 1;
    color: var(--background);
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
}
  /* Change the color of links on hover */
.topnavigation a:hover {
    background-color: var(--lightText);
    scale: 1.2;
}

  /* Add a color to the active/current link */
.topnavigation a.active {
    background-color: var(--lightText);
}
@keyframes NavigationBarSlideDown {
    0%{
        transform: translate(-120vw,0);
    }
    100%{
        transform: translate(0,0);
    }
}
/*Navigation Bar---------------------------------------------*/

/*Skills Section -------------------*/
.Skills {
    display: flex;
    position: relative;
    padding-left: 18%;
    padding-right: 18%;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}
.SkillsText {
    flex: 1;
    font-size: 3.5vw;
    color: var(--lightText);
    height: auto;
    padding: 10% 0 10% 0;
}
.SkillsText span{
    margin: -0.3%;
    display: inline-block;
    user-select: none;
    line-height: 0;
}
.SkillsText span:nth-child(1000){
    margin: 1%;
}
.SkillsText span.active {
    animation: skillsLetterExperienceAnimation 0.6s ease-out;
    transform-origin: bottom center;
}
@keyframes skillsLetterExperienceAnimation {
    0% {
        transform: scale(1,1) translate(0,0);
        color: var(--lightText);
    }
	
	20% {
		transform: scale(1.4,1.4) translate(0, 0);
        color: var(--darkText);
	}
	65% {
        transform: scale(0,0) translate(0,0);
        color: var(--darkText);
    }
	80% {
		transform: scale(0,0) translate(0, 0);
	}
    100% {
        transform: scale(1,1) translate(0,0);
        color: var(--lightText);
    }
}

.SkillsWords {
    flex: 1;
    font-size: 3.5vw;
    height: auto;
    color: var(--darkText);
    padding: 10% 0 10% 0;
}
.SkillsWords span{
    margin: -0.1%;
    display: inline-block;
    user-select: none;
    line-height: 0;
}
.SkillsWords span.active {
    animation: skillsLetterAnimation 0.6s ease-out;
    transform-origin: bottom center;
}
.SkillsWords span.start{
    animation: skillsLetterAppear 0.3s ease-in-out 0s 1;
}
@keyframes skillsLetterAppear {
    0% {
        transform: scale(0,0) translate(0,0);
        opacity: 0;
    }
	50% {
		transform: scale(1,1) translate(0, 0);
        opacity: 1;
	}
    100% {
        transform: scale(1,1) translate(0,0);
        opacity: 1;
    }
}
@keyframes skillsLetterAnimation {
    0% {
        transform: scale(1,1) translate(0,0);
        color: var(--darkText);
    }
	
	20% {
		transform: scale(1.4,1.4) translate(0, 0);
	}
	65% {
        transform: scale(0,0) translate(0,0);
        color: var(--lightText);
    }
	80% {
		transform: scale(0,0) translate(0, 0);
	}
    100% {
        transform: scale(1,1) translate(0,0);
        color: var(--darkText);
    }
}
/*RYLANPAUL Section -------------------*/
.RylanPaulContainer {
    text-align: center;
    padding-top: 3vh;
}
.RylanPaul {
    color: var(--title);
    font-size: 10vw;
    font-weight: 1000;
    padding: 0vh 1vw
}
.RylanPaul span{
    margin: -1.2%;
    display: inline-block;
    user-select: none;
    line-height: 0;
}
.RylanPaul span:nth-child(5).start{
    animation: lettersAppearAnimation 1.5s ease-out 0s 1;
}
.RylanPaul span:nth-child(4).start{
    animation: lettersAppearAnimation 1.7s ease-out 0s 1;
}
.RylanPaul span:nth-child(3).start{
    animation: lettersAppearAnimation 1.9s ease-out 0s 1;
}
.RylanPaul span:nth-child(2).start{
    animation: lettersAppearAnimation 2.1s ease-out 0s 1;
}
.RylanPaul span:nth-child(1).start{
    animation: lettersAppearAnimation 2.3s ease-out 0s 1;
}
@keyframes lettersAppearAnimation {
    0% {
        transform: scale(1,1) translate(-10000px,0);
        color: var(--title);
    }
	70% {
		transform: scale(0.8,1.1) translate(20px, 0);
	}
    100% {
        transform: scale(1,1) translate(0,0);
    }
}
.RylanPaul span.active {
    animation: letterAnimation 0.6s ease-out;
    transform-origin: bottom center;
}

@keyframes letterAnimation {
    0% {
        transform: scale(1,1) translate(0,0);
        color: var(--title);
    }
	10% {
		transform: scale(1.2, .6) translate(0, 0);
	}
	
	30% {
		transform: scale(0.8,1.4) translate(0, -50px);
        color: var(--lightText);
	}
	
	80% {
		transform: scale(1.2,.8) translate(0, 10px);
	}
    100% {
        transform: scale(1,1) translate(0,0);
        color: var(--title);
    }
}
/*Apps Section -------------------*/
.Apps-Section {
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;/*Horizontal*/
    align-items: center; /*Vertical*/
    background-color: var(--backgroundSection2);
    border-radius: 6vw;
    text-align: center;
    border: 0.5vw solid var(--navigationBackground);
}
.App-Wrapper {
    display: flex;
    width: 100%;
    justify-content:center;
    align-items:flex-start;
    text-align: center;
}
.bigimg {
    flex: 1;
    border-radius: 25%;
    object-fit: fill;
    overflow: hidden;
    padding: 5vw;
}
.App-Text {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding-top: 1vw;
    padding-left: 0vw;
    padding-right: 5vw;
    padding-bottom: 1vw;
}
.App-Text p{
    text-align: left;
}
.App-Text a{
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    flex-basis: 0;
    padding: 1vw 3vw 1vw 2vw;
    color: var(--background);
    background-color: var(--navigationBackground);
    border-radius: 1.5vw;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 6vw;
    margin: 0 auto;
    transition: 0.5s;
}
.App-Text a:hover{
    scale: 1.2;
}
.App-Text img {
    box-sizing: border-box;
    flex: 1;
    height: 8vw;
    width: 8vw;
    object-fit: cover;
    padding: 1vw;
}
.AppleSymbol {
    font-size: 6vw;
    padding: 1vw;
}
.RotateSymbol{
    animation: RotateSymbolAnim 2s ease-in-out 0s infinite;
}
@keyframes RotateSymbolAnim {
    0%,100%{
        rotate: -10deg;
    }
    50%
    {
        rotate: 10deg;
    }

}
.AppStore {
    font-size: 3vw;
}
#GithubButton {
    background-color: var(--purple);
}
#ItchButton {
    background-color: var(--coral);
}
#NotreDame {
    border-radius: 0;
    color: var(--background);
}
#ContactInfo {
    border: 0;
    background-color: transparent;
    color: var(--darkText);
}
/* Footer */
.Footer {
    background-color: var(--navigationBackground);
    padding: 2vw;
    color: var(--background);
    font-size: 1.2vw;
}