body{
    
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    overflow: hidden;
    cursor: none;
}

.inner{
    animation: change 5s infinite;
    font-size:75px;
    color: rgb(226,75,75);
}

@keyframes change{
    0%{
        color: rgb(226, 75, 75);
    }
    50%{
        color: rgb(75, 158, 226);
    }
    100%{
        color: rgb(226, 75, 75);
    }
}

#cursor{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0,0,0);
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 400px;
}
.grid_item {
    height: 80px;
    width: 80px;
    background: rgb(0,0,0);
    opacity: 1;
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
}  
.grid_item:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: scale(1.04);
}
