/*Main stuff*/
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
/*Navigation Bar---------------------------------------------*/
.topnavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #080F0F;
    z-index: -100;
    animation: NavigationBarSlideDown 0.9s ease-out 0s 1;
}
/* Style the links inside the navigation bar */
.topnavigation h1 {
    flex: 0.5;
    float:left;
    color: #06D6A0;
    text-align: center;
    padding: 0vh 0vh;
    text-decoration: none;
    font-size: 2vw;
    animation: RPAnim 4s linear 0s infinite;
  }
  @keyframes RPAnim {
   100%,0%{
        color: #06D6A0;
    }
    50%{
        color: #8a2be2;
    }
  }
.topnavigation a {
    flex: 1;
    float: left;
    color: #EFF9F0;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
  }
  
  /* Change the color of links on hover */
.topnavigation a:hover {
    background-color: #06D6A0;
    color: #EFF9F0;
    scale: 1.2;
  }
  
  /* Add a color to the active/current link */
.topnavigation a.active {
    background-color: #06D6A0;
    color: white;
  }
@keyframes NavigationBarSlideDown {
    0%{
        transform: translate(-120vw,0);
    }
    100%{
        transform: translate(0,0);
    }
}
/*Navigation Bar---------------------------------------------*/





/*Entire Title Section ----------------------------*/
.TitleSection {
    display: flex;
    position: relative;
    align-items: center;
    height: fit-content;
}
/*Skills Section -------------------*/
.Skills {
    flex: 1;
    text-align: center;
    vertical-align: middle;
    padding-left: 5%;
    padding-right: 5%;
}
.SkillsText {
    font-size: 3.5vw;
    color: #06D6A0;
    height: fit-content;
    padding-top: 10%;
}
.SkillsText span{
    margin: -0.3%;
    display: inline-block;
    user-select: none;
    line-height: 0;
}
.SkillsText span:nth-child(5){
    margin: 1%;
}
.SkillsText span.active {
    animation: skillsLetterAnimation 0.6s ease-out;
    transform-origin: bottom center;
}

.SkillsWords {
    font-size: 3vw;
    height: auto;
    color: #06D6A0;
    padding: 10% 0 10% 0;
}
.SkillsWords span{
    margin: -0.1%;
    display: inline-block;
    user-select: none;
    line-height: 0;
}
.SkillsWords span.active {
    animation: skillsLetterAnimation 0.6s ease-out;
    transform-origin: bottom center;
}
.SkillsWords span.start{
    animation: skillsLetterAppear 0.3s ease-in-out 0s 1;
  }
@keyframes skillsLetterAppear {
    0% {
        transform: scale(0,0) translate(0,0);
        opacity: 0;
    }
	50% {
		transform: scale(1,1) translate(0, 0);
        opacity: 1;
	}
    100% {
        transform: scale(1,1) translate(0,0);
        opacity: 1;
    }
}
@keyframes skillsLetterAnimation {
    0% {
        transform: scale(1,1) translate(0,0);
        color: #06D6A0;
    }
	
	20% {
		transform: scale(1.4,1.4) translate(0, 0);
        color: #F1D302;
	}
	65% {
        transform: scale(0,0) translate(0,0);
        color: #F1D302;
    }
	80% {
		transform: scale(0,0) translate(0, 0);
	}
    100% {
        transform: scale(1,1) translate(0,0);
        color: #06D6A0;
    }
}
/*RYLANPAUL Section -------------------*/
.RylanPaulContainer {
    flex: 1;
}
  .RylanPaul {
    color: #8a2be2;
    font-size: 10vw;
    padding: 0vh 1vw
  }
  .RylanPaul span{
    margin: -1.2%;
    display: inline-block;
    user-select: none;
    line-height: 0;
  }
  .RylanPaul span:nth-child(5).start{
    animation: lettersAppearAnimation 1.5s ease-out 0s 1;
  }
  .RylanPaul span:nth-child(4).start{
    animation: lettersAppearAnimation 1.7s ease-out 0s 1;
  }
  .RylanPaul span:nth-child(3).start{
    animation: lettersAppearAnimation 1.9s ease-out 0s 1;
  }
  .RylanPaul span:nth-child(2).start{
    animation: lettersAppearAnimation 2.1s ease-out 0s 1;
  }
  .RylanPaul span:nth-child(1).start{
    animation: lettersAppearAnimation 2.3s ease-out 0s 1;
  }
  @keyframes lettersAppearAnimation {
    0% {
        transform: scale(1,1) translate(-10000px,0);
        color: #8a2be2;
    }
	70% {
		transform: scale(0.8,1.1) translate(20px, 0);
	}
    100% {
        transform: scale(1,1) translate(0,0);
    }
  }
  .RylanPaul span.active {
    animation: letterAnimation 0.6s ease-out;
    transform-origin: bottom center;
  }

  @keyframes letterAnimation {
    0% {
        transform: scale(1,1) translate(0,0);
        color: #8a2be2;
    }
	10% {
		transform: scale(1.2, .6) translate(0, 0);
	}
	
	30% {
		transform: scale(0.8,1.4) translate(0, -50px);
        color: #EF476F;
	}
	
	80% {
		transform: scale(1.2,.8) translate(0, 10px);
	}
    100% {
        transform: scale(1,1) translate(0,0);
        color: #8a2be2;
    }
}
/*Background Section -------------------*/
.SkillsBG {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    vertical-align: top;
}
.SkillBGPanel {
    pointer-events: all;
    overflow: hidden;
    flex: 1;
    float:left;
    clear: left;
    background-color: #06D6A0;
    border-radius: 20%;
    box-shadow: 0px 0px 15px 15px #06D6A0;
    opacity: 0;
}
.SkillBGPanel:nth-child(even) {
    background-color: #8a2be2;
    box-shadow: 0px 0px 20px 20px #8a2be2;
}

.SkillsBG span{
    animation: panelHover calc(3s * var(--i) + 2s) linear calc(3s * var(--i)) infinite;
}
@keyframes panelHover {
    0%{
        transform: scale(0.1,0.1) translate(0,0);
        opacity: 0;
    }
    30%{
        transform: scale(0.1,0.1) translate(0,0);
        opacity: 0;
    }
    50%{
        transform: scale(0.5,0.5) translate(0,0);
        opacity: 0.3;
    }
    100%{
        transform: scale(0.1,0.1) translate(0,0);
        opacity: 0;
    }
}
