raindrop {
    position: absolute;
    height: 150px;
    background: linear-gradient(transparent,rgb(83, 178, 255));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
    animation: rainanim 5s linear infinite;
    overflow: hidden;
}
raindrop:nth-child(3n+1)
{
    background: linear-gradient(transparent,rgb(33, 133, 214))
}
raindrop:nth-child(3n+2)
{
    background: linear-gradient(transparent,rgb(91, 141, 182))
}
@keyframes rainanim
{
    0%{
        transform: translateY(-200px);
        height: 200px;
    }
    95%{
        height: 200px;
    }
    100%{
        transform: translateY(calc(100vh + 1000px));
        height: 10px;
    }
}