.section4 {
    width: 100%;
    height: 500px;
    margin: 0px;
    margin-left: -10px;
    margin-top: 468px;
    padding: 0px;
    overflow: hidden;
    overflow-x: hidden;
    background-color:lightsalmon;
}