<div class="container">
  <div class="icon-container">
    <a href="https://rylanpaul.com/home" target="_blank"><img src="recipe-vault-icon.png" /></a>
  </div>
  <app-contact-form class="form-container" formName="Recipe-Vault"></app-contact-form>
</div>

<div class="description">
  <h5>
    Recipe-Vault is a simple app to allow users to store their recipes. They can easily add a recipe, take pictures, and rate their meals. Users can then filter by meal type, rating, keywords, etc. to find the recipes they need quickly. In the future, I may add a Firebase backend to share recipes with other users.
  </h5>
</div>



