<h1 style="padding-bottom: 175px; padding-top: 125px;">The Vault</h1>
<div class="input-container">
    <input type="text" id="textInput" placeholder="Enter the code..." (input)="onInput($event)" style="text-transform: uppercase;">
    
</div>

<div class="input-container" style="padding-top: 50px;">
<button (click)="submitText()" class="burst-btn">Enter
        <span class="burst left top"></span>
        <span class="burst left mid"></span>
        <span class="burst left bottom"></span>

        <span class="burst right top"></span>
        <span class="burst right mid"></span>
        <span class="burst right bottom"></span>
    </button>
</div>