<html>
    <body class="min-h-screen flex items-center justify-center p-4" style="background-color: #1c0223; min-width: 100%; min-height: 100%;">
        <!-- Main content container -->
        <div class="p-8 rounded-lg shadow-xl max-w-md w-full text-center overflow-hidden" style="padding-bottom: 100vh;">
            <h1 class="text-3xl font-bold text-gray-800 mb-4" style="color: white;">Aww shucks! You may be lost.</h1>
            <p><img src="void.png" style="background-color: transparent;"></p>
            <button (click)="goHome()" class="button-49" role="button">Home</button>
        </div>
    </body>
</html>

<!-- HTML !-->
