@font-face {
    font-family: 'Varela Round';
    src: url('../../../src/assets/fonts/VarelaRound-Regular.ttf');
}

html, body{
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}