<body style="background-color: #1c0223; min-width: 100%; min-height: 100%;">
    <div style="margin: auto; text-align: center; color: white; padding: 50px; max-width: 50%;">
        <h1 style="color: white; padding: 30px; border: solid #e91e63 5px; border-radius: 50px;">Galactic Warfare!</h1>
    </div>
    <div style="padding-left: 10vw; padding-right: 10vw;">
        <div style="text-align: center; border: solid #ab47bc 5px; border-radius: 50px;">
            <iframe
                id="unity-game-container"
                src="GalacticWarfare/index.html"  title="My Unity WebGL Game"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                width="960px"
                height="700px"
            ></iframe>
        </div>
    </div>

    <div style="background-color: #31053d; border: solid #e91e63 5px; border-radius: 50px; margin: 100px;">
        <p style="padding: 30px 50px 30px 50px; color: white;">Up to 4 controllers/keyboards<br><br>Keyboard Controls:<br>Keyboard<br>Join: Spacebar<br>Throttle: W/S or Up/Down keys<br>Rotation: mouse pointer<br>Shoot: Left click<br>Missiles: Rightclick<br>Implosion bomb: Q<br>Bomb: E<br>Upgrade fire rate: R (30 crystals)<br><br><br>Gamepad Controls:<br>Join: Start button<br>Throttle: left joystick up and down<br>Rotation: Right stick<br>Shoot: Right Trigger<br>Missiles: Left trigger<br>Implosion bomb: Left bumper<br>Bomb: Right bumper<br>Upgrade fire rate: Button North (30 crystals)</p>
    </div>
</body>









