.player-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns:
    repeat(
      auto-fill,
      minmax(375px, 1fr)
    );
}

.player-card {
  border: 1px solid #ddd;
  border-radius: 12px;

  padding: 1rem;

  background: white;

  box-shadow:
    0 2px 6px rgba(0,0,0,.08);
}

.player-card h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.pick-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.pick-row {
  display: grid;
  grid-template-columns:
    15px      /* round */
    30%     /* team A */
    100px      /* score group */
    30%;    /* team B */

  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.round {
  font-weight: 100;
}

.score-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.score {
  width: 28px;
  text-align: center;
}

.dash {
  width: 16px;
  text-align: center;
}

.teamA,
.teamB {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teamA {
  text-align: right;
  font-weight: 600;
}

.teamB {
  text-align: left;
}