@if (loading) {

  <p>Loading...</p>

} @else {

  <div class="player-grid">

    @for (
      player of players;
      track player.name
    ) {

      <div class="player-card">

        <h3>
          {{ player.name }}
        </h3>

        <div class="pick-list">

          @for (
            pick of player.picks;
            track $index
          ) {

            <div class="pick-row"  [style.background-color]="pick.won ? '#f7f7f7' : '#ffc3c3'">

          <span class="round">{{ pick.round }}</span>

          <span
            class="teamA"
            [style.color]="pick.won ? 'black' : 'red'">
            {{ pick.teamA }}
          </span>

          <span class="score-group">
            <span class="score">
              {{ Number.isNaN(pick.scoreA) ? '__' : pick.scoreA }}
            </span>

            <span class="dash">—</span>

            <span class="score">
              {{ Number.isNaN(pick.scoreB) ? '__' : pick.scoreB }}
            </span>
          </span>

          <span class="teamB">
            {{ pick.teamB }}
          </span>

        </div>

          }

        </div>

      </div>

    }

  </div>

}