<div class="container">
  <div class="icon-container">
    <a href="https://apps.apple.com/us/app/disc-golf-score-tracker/id1633893666" target="_blank"><img src="discgolficon.png" /></a>
  </div>
  <app-contact-form class="form-container" formName="Disc Golf Score Tracker"></app-contact-form>
</div>

<div class="description">
  <h5>
    Disc Golf Score Tracker allows users to add their own courses, with over 300+ user added courses already. The app keeps track of stats while also acting as a scorecard. The app features a Firebase backend with leaderboards, creating groups with live scoring, sharing courses, and more!
  </h5>
</div>




