
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Varela Round';
    src: url('../src/assets/fonts/VarelaRound-Regular.ttf');
}
@font-face {
    font-family: 'Jacquard';
    src: url('../src/assets/fonts/Jacquard12-Regular.ttf');
}
@font-face {
    font-family: 'Jersey';
    src: url('../src/assets/fonts/Jersey15-Regular.ttf');
}
@font-face {
    font-family: 'Pixelify';
    src: url('../src/assets/fonts/PixelifySans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Tiny5';
    src: url('../src/assets/fonts/Tiny5-Regular.ttf');
}

html, body{
    font-family: 'Varela Round';
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
